---
import { getCollection } from "astro:content";
import PostCard from "../../components/PostCard.astro";
import PostList from "../../components/PostList.astro";
import Layout from "../../layouts/Layout.astro";
import { defaultLang } from "../../i18n/ui";
export function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: undefined } }];
}

const { lang } = Astro.params;
const lastPosts = (
  await getCollection(
    "posts",
    ({ data: { draft }, id }) =>
      draft === false && id.startsWith(lang ?? defaultLang),
  )
)
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
  .slice(0, 3);
---

<Layout title="Bienvenido to Astro.">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-x-16 mb-12">
    <PostCard post={lastPosts[0]} />
    <PostList posts={lastPosts.slice(1, 3)} />
  </div>
</Layout>
