---
import { defaultLang, languages } from "../i18n/ui";
import { getEntry } from "astro:content";
import {
  getLangFromUrl,
  useTranslatedPath,
  getRouteFromUrl,
  getPathFromUrl,
} from "../i18n/utils";
import { Icon } from "astro-icon/components";

const route = getRouteFromUrl(Astro.url);
const urlPath = getPathFromUrl(Astro.url);
const langFromUrl = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(langFromUrl);
let postSlug = urlPath!;
postSlug =
  (postSlug.startsWith("/posts") ? `${defaultLang}/` : "") +
  urlPath!.replace("/posts", "").slice(1);
let post = null;

const translatedPostSlugs: Partial<typeof languages> = {};

try {
  post = await getEntry("posts", postSlug.replace(/\/+$/, ""));
  post!.data.translatedPosts?.forEach((tp) => {
    const [language, slug] = tp.  translatedPost.id.split("/");
    translatedPostSlugs[language as keyof typeof languages] = slug;
  });
} catch (e){
  post = null;
}
---

<div class="dropdown dropdown-end">
  <div tabindex="0" role="button" class="btn btn-ghost rounded-btn">
    <Icon name="mdi:language" size={18} />
  </div>
  <ul
    tabindex="0"
    class="menu dropdown-content bg-base-200 rounded-box z-[2] mt-4 w-52 p-2 shadow"
  >
    {
      Object.entries(languages).map(([lang, label]) => (
      lang === langFromUrl ? <></>:
        <li>
          <a
            href={
              post != null
                ? ((translatedPostSlugs[lang as keyof typeof languages] != null)
                  ? `${lang === defaultLang ? "" : `/${lang}`}/posts/${translatedPostSlugs[lang as keyof typeof languages]}`
                  : translatePath(`/`, lang))
                : translatePath(`/${route ? route : ""}`, lang)
            }
          >
            {label}
          </a>
        </li>
      ))
    }
  </ul>
</div>
