---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import SideNavbar from "../components/SideNavbar.astro";
import { SEO, type Props as SEOProps } from "astro-seo";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
  title: string;
  seo?: SEOProps;
}

const { title, seo } = Astro.props;
---

<!doctype html>
<html lang={lang} data-theme="light">
  <head>
    <SEO
      {...seo}
    />
    <meta charset="UTF-8" />
    <meta name="description" content={t("meta.description")} />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧑🏻‍💻</text></svg>">
    <title>{`theAlbertDev | ${title}`}</title>
    <!-- Google tag (gtag.js) -->
    <script is:inline type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-11JE2P4SZ8"></script>
    <script is:inline type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-11JE2P4SZ8');
    </script>
  </head>
  <body class="flex flex-col">
    <div class="drawer">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div
        class="drawer-content flex flex-col h-screen supports-[height:100cqh]:h-[100cqh] supports-[height:100svh]:h-[100svh]"
      >
        <Navbar />
        <main class="flex-grow container mx-auto p-6 max-w-7xl mt-20">
          <slot />
        </main>
        <Footer class="bg-gray-800 text-white p-4" />
      </div>
      <SideNavbar />
    </div>
  </body>
</html>
