---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import SideNavbar from "../components/SideNavbar.astro";
import { SEO, type Props as SEOProps } from "astro-seo";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
  title: string;
}

const { title, seo } = Astro.props;

interface Props {
  title: string;
  seo?: SEOProps;
}
---

<!doctype html>
<html lang={lang} data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={t("meta.description")} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{`theAlbertDev | ${title}`}</title>
    <!-- <SEO
      {...seo}
      title={seo?.title ?? SiteData.default.title}
      description={seo?.description ?? SiteData.default.description}
      openGraph={seo?.openGraph ?? {
        basic: {
          image: SiteData.default.openGraph.image,
          title: SiteData.default.openGraph.title,
          type: SiteData.default.openGraph.type,
          url: SiteData.default.openGraph.url,
        },
        optional: {
          description: SiteData.default.openGraph.description,
          siteName: SiteData.default.openGraph.title,
        },
      }}
      twitter={seo?.twitter ?? {
        title: SiteData.default.twitter.title,
        description: SiteData.default.twitter.description,
        creator: SiteData.default.twitter.creator,
      }}
    /> -->
  </head>
  <body class="flex flex-col">
    <div class="drawer">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div
        class="drawer-content flex flex-col h-screen supports-[height:100cqh]:h-[100cqh] supports-[height:100svh]:h-[100svh]"
      >
        <Navbar />
        <main class="flex-grow container mx-auto p-6 max-w-7xl mt-20">
          <slot />
        </main>
        <Footer class="bg-gray-800 text-white p-4" />
      </div>
      <SideNavbar />
    </div>
  </body>
</html>
